# BAGFILES_PATH_HOST=$HOME/bagfiles_competition/grass_track_training2
BAGFILES_PATH_HOST=$HOME/bagfiles_competition/shellby-0225-train-lab
# Relative path under BAGFILES_PATH_HOST to a ROS 2 bag collection directory.
# The selected directory must contain metadata.yaml with storage_identifier: mcap.
# Examples: sensors OR runs/session_01
BAGFILE_NAME=sensors
OUTPUT_PATH_HOST=$BAGFILES_PATH_HOST/evaluation_output

TEST_MODE=0 # 0: Run the bigger RPE deltas, 1: Run the smaller RPE deltas

ROSBAG_PLAY_RATE=5.0 # Used as ros2 bag play --rate

ROS_DOMAIN_ID=42
ROS_LOCALHOST_ONLY=1
RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
CYCLONEDDS_URI=file:///config/dds/cyclonedds.xml

REFERENCE_TRAJECTORY_FILE_HOST=$BAGFILES_PATH_HOST/reference/reference.txt
ESTIMATED_TRAJECTORY_FILE_HOST=$OUTPUT_PATH_HOST/estimated_trajectory.txt # Generated during docker compose up record_odometry, but feel free to test with a different one.
#OUTPUT_FILE_NAME=estimated_trajectory.txt
OUTPUT_FILE_NAME="" # If empty, the default name will be used.

CRL_SLAM_IMAGE=ghcr.io/comrob/liorf-crl:latest
SLAM_IMAGE=""
#DEV_DOCKER=true
#SLAM_CONFIG_OVERRIDE_FILE=./config/slam/override_config.yaml

# Optional file relative to BAGFILES_PATH_HOST containing a newline-separated list of topics.
#TOPICS_FILE="tracks/passive.txt"
TOPICS_FILE="" # If empty, all topics will be used.