# BAGFILES_PATH_HOST=$HOME/bagfiles_competition/grass_track_training2
# BAGFILES_PATH_HOST=$HOME/bag/bagfiles_competition/shellby-0225-train-lab
# BAGFILES_PATH_HOST=$HOME/bag/bagfiles_competition/shellbeLabCalibration
BAGFILES_PATH_HOST=/home/seva/bag/alpine_mcap/top
BAGFILE_NAME=autonomy_2025-07-10-15-41-49_0.mcap
OUTPUT_PATH_HOST=$BAGFILES_PATH_HOST/evaluation_output

TEST_MODE=1 # 0: Run the bigger RPE deltas, 1: Run the smaller RPE deltas

ROSBAG_PLAY_RATE=3.0

REFERENCE_TRAJECTORY_FILE_HOST=$BAGFILES_PATH_HOST/reference/reference.txt
ESTIMATED_TRAJECTORY_FILE_HOST=$OUTPUT_PATH_HOST/estimated_trajectory.txt # Generated during docker compose up record_odometry, but feel free to test with a different one.
#OUTPUT_FILE_NAME=estimated_trajectory.txt
OUTPUT_FILE_NAME="" # If empty, the default name will be used.

CRL_SLAM_IMAGE=docker.io/library/liorf_jazzy_prod:latest
SLAM_IMAGE=docker.io/library/liorf_jazzy_prod:latest
DEV_DOCKER=true
SLAM_CONFIG_OVERRIDE_FILE=./config/slam/override_config.yaml

ROS_DOMAIN_ID=42
ROS_LOCALHOST_ONLY=1
RMW_IMPLEMENTATION=rmw_zenoh_cpp

#TOPICS_FILE="tracks/passive.txt"
TOPICS_FILE="" # If empty, all topics will be used.